@import "tailwindcss/base" ;
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.light {
   background-color: #FCF6E6;
  color: #141310;

}

.dark {
  background-color: #141310;
  color: #FCF6E6;
}





/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #141310;
    --foreground: #f5f5f5;
  }
} */

body, * {

  font-family: Arial, Helvetica, sans-serif;
  cursor: none !important;
}

p {
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.custom-cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  mix-blend-mode: difference;
  background-color: #FB6502;
  pointer-events: none; /* Prevent blocking other interactions */
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .custom-cursor {
    display: none;
  }
  
}