@import "tailwindcss/base" ;
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.light {
   background-color: #FCF6E6;
  color: #141310;

}

.dark {
  background-color: #141310;
  color: #FCF6E6;
}








body, * {

  cursor: none !important;
}

p {
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
.prose {
  color: inherit;
  font-size: inherit;
}
.blog-post {
 font-size: 24px !important;
}
.custom-cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  mix-blend-mode: difference;
  background-color: #FB6502;
  pointer-events: none; /* Prevent blocking other interactions */
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .custom-cursor {
    display: none;
  }
  
}